.App {
  /* text-align: center; */

}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #b9cbee;
}

.App-body {
  background-color: #E9EBEE;
}

.App-link {
  color: #09d3ac;
}

.mr-10 {
  margin-right: 10px;
}

.mt-100 {
  margin-top: 80px !important;
}

.mt-10 {
  margin-top: 10px;
}

.form-banner {
  top: 21%;
  left: 21%;
  color: white;
}

/* .selected {
  background-color: red;
} */